*   * * * * php /data/www/smartcan/bin/message.php
*   * * * * php /data/www/smartcan/bin/temperatures.php
*   * * * * /etc/init.d/domocan-monitor
*   * * * * ( sleep 20 ; php /data/www/smartcan/bin/chauffage.php )
5   4 * * * php /data/www/smartcan/bin/dailysync.php
*/5 * * * *  php /data/www/smartcan/bin/fivemin-clean.php
